@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --textcolor:white;
    --accentcolor:#269;
    --lightaccentcolor:#9df;
    --reversecolor:black;
}

*, *:before, *:after {box-sizing: border-box;}

html {
    font-size:16px;
    font-family:Trebuchet,sans-serif;
}

body {
    background:var(--accentcolor);
    color:var(--reversecolor);
    margin:0;padding:0;
    line-height:1.5;
}
body.memo-page {
    position:relative;
    margin:0 auto;padding:1.2rem;
    width:100%;height:auto;min-height:725px;
    min-width:320px;max-width:1000px;
    background:var(--reversecolor);
    color:var(--textcolor);
    text-align:left;
    background-image:url("../img/carpet.jpg");
    background-size:100% 100%;
}

.memo-main {
  width:98%;
  height:620px;
  background:radial-gradient(rgba(53,168,109,0.95) 0%, rgba(20,76,44,0.9) 64%,#784428 65%,#B78B5D 66%,#B7895A 67%,#835231 70%,#92623D 96%,#784428 99%,#B78B5D 100%);
  border:3px solid #642;
  margin:0 auto;
  border-radius:50%;
  padding:14% 10% 0 10%;
}

.memo-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.card {
    width: 60px;
    height: 90px;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

.memo-main .game{
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.card-back{
    background: repeating-linear-gradient(45deg, #dfe6e9 0px, #dfe6e9 2px, transparent 2px, transparent 20px), repeating-linear-gradient(135deg, #dfe6e9 0px, #dfe6e9 2px, transparent 2px, transparent 20px), radial-gradient(#ff7675,#eb2f06);
    border: solid #000 2px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-front{
    background: #FFF;
    border: solid #000 2px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-content {font-size:1.5rem; margin-right: 4px;}

.text-red{
    color: #eb2f06;
}

.text-black{
    color: #000;
}

.half-flip {
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
}

.final-flip{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

h1, h2, h3, h4 {
    color:var(--textcolor);
    text-align:center;
}
h1 {font-size:2rem;margin:0 0 1rem 0;}
h2 {font-size:1.5rem;margin:0 0 0 0;}
p {font-size:1.2rem;margin:0;}

button {
    -webkit-appearance:none;
    font-size:1.4rem;
    font-weight:normal;
    background:var(--lightaccentcolor);
    border-radius:12px;
    border:2px solid var(--accentcolor);
    color:var(--reversecolor);
    padding:0.3rem 0.5rem 0.3rem 0.5rem;
    cursor:pointer;
    margin:10px 20px 10px 20px;
}

button:hover {
    color:var(--textcolor);
    background:var(--accentcolor);
}

select {
    background:var(--lightaccentcolor);
    width:auto;
    font-size:inherit;
    font-weight:normal;
    text-align:center;
    height:auto;
    border-radius:8px;
    margin:10px 0;
}