@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

.game{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.card{
    display: flex;
    height: 96px;
    width: 64px;
    align-items: center;
}